---
import Carousel from "../components/Carousel.astro";
import Layout from "../layouts/Layout.astro";
import ng1 from "../assets/ng1.jpg";
import ng2 from "../assets/ng2.jpg";

const images = [ng1, ng2];
---

<Layout>
  <div class="w-full flex flex-col flex-1 items-center">
    <Carousel images={images} />
    <div
      class="flex-1 bg-nagaland bg-no-repeat bg-cover bg-center p-2 flex flex-col items-center lg:w-[50%]"
    >
      <div class="w-full text-center">
        <h2 class="text-[2rem]">Nagaland</h2>
      </div>
      <div
        class="w-full p-2 text-justify font-semibold bg-white bg-opacity-50 mt-6 rounded-lg"
      >
        <p class="text-md">
          Kerala is always referred to as God's own country. This term has a
          mythological belief that states that- Lord Parshuram, a manifestation
          of Lord Vishnu threw his axe into the vast sea to develop land for his
          followers to reside peacefully. And that is how the state of Kerala
          was born from the god itself.
        </p>
      </div>
    </div>
  </div>
</Layout>
