---
import "swiper/css";
import "swiper/css/autoplay";
import "swiper/css/navigation";
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://picsum.photos/seed/picsum/360/300" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/seed/picsum/360/300" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/seed/picsum/360/300" />
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import Swiper from "swiper";
  const swiper = new Swiper(".swiper", {
    autoplay: {
      delay: 20,
    },
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
