---
import { Image, Picture } from "astro:assets";
import "swiper/css";
import "swiper/css/autoplay";
import "swiper/css/navigation";

const { images } = Astro.props;
---

<div class="swiper w-full lg:w-[50%]">
  <div class="swiper-wrapper">
    {
      images.map((img: any) => (
        <div class="swiper-slide">
          <Picture
            src={img}
            alt="image"
            loading="lazy"
            class="object-cover h-[350px] drop-shadow-md rounded-md m-auto"
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  new Swiper(".swiper", {
    autoplay: {
      delay: 2500,
    },
    modules: [Navigation, Autoplay],
    speed: 3000,
    slidesPerView: "auto",
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
    height: 20px;
  }
</style>
