---
import Header from "../components/Header.astro";
const { pathname } = Astro.url;

const normalizePath = (path: string) => path.replace(/\/$/, "");

const normalizedPath = normalizePath(pathname);

const pageBackgrounds: { [key: string]: string } = {
  "/Elia-Utsav-NGO/kashmir": "bg-[#d8d2d4]",
  "/Elia-Utsav-NGO/kerala": "bg-[#cecdcb]",
  "/Elia-Utsav-NGO/maharashtra": "bg-[#b4c5cf]",
  "/Elia-Utsav-NGO/madhyapradesh": "bg-[#bcb5ad]",
  "/Elia-Utsav-NGO/nagaland": "bg-[#e1e2e4]",
};
const backgroundClass = pageBackgrounds[normalizedPath] || "bg-[#d8d2d4]";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elia Utsav</title>
  </head>
  <body class=`${backgroundClass} flex flex-col items-center`>
    <Header />

    <slot />
    <div class="w-full text-[0.75rem] flex justify-between p-2 lg:w-[50%]">
      <a href="/Elia-Utsav-NGO/kashmir">Kashmir</a>
      <a href="/Elia-Utsav-NGO/kerala">Kerala</a>
      <a href="/Elia-Utsav-NGO/madhyapradesh">Madhya Pradesh</a>
      <a href="/Elia-Utsav-NGO/nagaland">Nagaland</a>
      <a href="/Elia-Utsav-NGO/maharashtra">Maharashtra</a>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
